#mainNav {
  .navbar-nav {
    .nav-item {
      .dropdown-menu {
        .nav-item .nav-link {
          color: black;
        }
      }
    }
  }
}

.nav-link {
  font-size: $link-text - 2 !important;
}

.navbar-brand {
  font-size: $link-text + 2 !important;
}
