.page-section {
  .page-section__box {
    background-color: map-get($sector-colors, pair);
    padding: 50px 20px;
    .page-section__box--text-primary {
      color: map-get($sector-colors, odd) !important;
    }
  }
}

.modal-content {
  margin-top: 50px;
}

.flipped {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -khtml-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}
