.page-section {
  .page-section__box {
    background-color: map-get($sector-colors, pair);
    padding: 50px 20px;
    .page-section__box--text-primary {
      color: map-get($sector-colors, odd) !important;
    }
  }
}

.modal-content {
  margin-top: 50px;
}
