.page-section-tratamientos {
  .page-section-tratamientos__box {
    background-color: map-get($sector-colors, pair);
    padding: 50px 20px;
    .page-section-tratamientos__box--text-primary {
      color: map-get($sector-colors, odd) !important;
    }
  }
}
