$cream: cornsilk;
$gricesito: lightgrey;
$link-text: 14px;

$sector-colors: (
  pair: $cream,
  odd: $gricesito
);

@import 'bs'; //estilos del template bootstrap descargado
@import 'navbar'; //estilos custom de la barra de navegacion
@import 'sections'; //estilos custom de las secciones
@import 'form'; //estilos custom formulario contacto
@import 'masthead'; //estilos custom seccion central
