$cream: cornsilk;
$gricesito: lightgrey;
$link-text: 14px;

$sector-colors: (
  pair: $cream,
  odd: $gricesito
);

@import 'bs'; //estilos del template bootstrap descargado
@import 'navbar'; //estilos custom de la barra de navegacion
@import 'tratamientos'; //estilos custom de la sección tratamientos
@import 'form'; //estilos custom formulario contacto
